.flow{
    overflow:hidden;

}
body{
    background:url(img/3.png)repeat center center;

}

.we_provide_header{
    margin-bottom: 10px;
}
.we_provide_header h2{
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
}
/*
.we_provide_header h2:before{
    background: #36a4e4;
    content: "";
    position: absolute;
    height: 33px;
    width: 33px;
    transform: rotate(45deg);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    left: 4px;
}
*/
/*
.we_provide_header h2:after{
    background: #36a4e4;
    content: "";
    position: absolute;
    height: 33px;
    width: 33px;
    transform: rotate(45deg);
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    right: 4px;
}
*/
.logo{

}
.logo img{
    width: 200px;

}
.menu_section{}
.menu{}
.menu ul{
    margin:0;
    padding:0;
    list-style:none;
}
.menu ul li{
    float:left;
}
.menu ul li:last-child{
    float:right;
}
.menu ul li a{
    background: rgb(56, 164, 221);
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 22px;
    display: block;
    margin-top: 0px;
    border-top: 0px;
    font-size: 15px;
    text-transform: uppercase;
}
.menu ul li a{}
.phone_email{
    background: rgba(255, 255, 255, 0.45);
    border-radius: 100px 0px 0px 0px;
    padding-left: 29px;
    border: 1px solid rgb(255, 255, 255);
}
.address_book{
    float: left;
    font-size: 21px;
    margin-top: 26px;
    margin-left: 15px;
    color: #555656;
}
.contact_info{}
.contact_info ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10px;
}
.contact_info ul li{
    line-height: 15px;
}
.contact_info ul li i{
    color: #333333;
    font-size: 15px;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    margin-left: 45px;
}
.contact_info ul li p{
    text-align: right;
    margin-right: 10px;
    color: #555656;
    margin-top: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.courses_area{
    margin-top: 30px;
}
.courses_left{
    background: rgba(255, 255, 255, 0.72);
    margin-bottom:5px;
}
.courses_left h2{


}
.courses_list ul{
    list-style: none;
    margin: 0;
    padding-left: 12px;
}
.courses_list ul li{}
.courses_list ul li a{


}
.courses_list{
    padding-bottom:5px;
}
.left_sidebar{
    background: #ddd;
    border: 1px solid rgb(140, 138, 138);
    padding: 5px;
}
.upcoming_events{

}
.upcoming_events a{}
.upcoming_events img{
    width:100%;
}
.title{
    background: #333333;
}
.title h2{
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    padding: 24px 15px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
}
.title h2 i{
    margin-right:10px;
}
.right_sidebar{
    background: #ddd;
    border: 1px solid rgb(140, 138, 138);
    padding: 5px;
}
.working_info_details ul{
    list-style: none;
    margin: 0;
    padding-left: 15px;
}
.working_info_details p{
    padding: 5px;
    margin-left: 8px;
}
.working_time{
    background: rgba(255, 255, 255, 0.72);
    margin-bottom: 5px;
}

.social_media{
    float:right;
}
.social_media ul{
    margin:0;
    padding:0;
    list-style:none;
}
.social_media ul li{
    float:left;
}
.social_media ul li a{

}
.social_media ul li a i{
    padding: 10px 15px;
    background: #ffffff;
    margin-right: 6px;
    height: 40px;
    width: 40px;
    color: #36a4e4;
    font-size: 18px;
    border: 1px solid #36a4e4;
}
.social_media ul li a i:hover{}
.social_media ul li a:hover{}
.main_content_para{

}
.main_content_heading{
    text-align:center;
}
.main_content_heading h2{
    margin-bottom: 23px;
    background: #38a4dd;
    color: #fff;
    padding: 11px 47px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 1px 0px 0px white;
    margin-top: 0px;
    font-family: 'Dosis', sans-serif;
}
.main_content_para{
    background: rgba(255, 255, 255, 0.72);
    border-radius: 2px 2px 2px 2px;
    margin-bottom:63px;

}
.courses_details{
    border-radius: 2px 2px 0px 0px;
    border-bottom: 5px solid #36a4e4;
    border-right: 1px solid #949494;
    border-left: 1px solid #949494;
}
.courses_details p{
    padding:0px 38px;
    font-family: 'Poppins', sans-serif;
}
.courses_list ul li a{
    color: #333;
    font-family: 'Poppins', sans-serif;

}
.header_logo_social_media{
    margin-top: 52px;
    border-bottom: 1px solid #9c9c9c;
}
.form_icon{

}
.choose_details_info{}
.single_choose_details{
    border: 1px solid #ddd;
    background-color: rgb(51, 51, 51);
    padding-bottom: 7px;
}
.single_choose_details h4 a{
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    color: #e4e4e4;
}
.single_choose_details h4 a:hover{
    text-decoration:none;
}
.single_choose_details p{
    margin-left: 5px;
    margin-right: 5px;
}
.choose_icon{
    float: left;
    margin-bottom: 5px;
}
.choose_icon i{
    background: rgba(0, 0, 0, 0.48);
    color: #fff;
    padding: 10px 12px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 10px;
    border: 1px solid #fff;

}
.single_choose_details:hover .choose_icon i{
    color:#fff;
    background: #36a4e4;


}

.choose_details_link{
    text-align: right;
}
.choose_details_link a{
    display: inline-block;
    color: #fff;
    padding: 2px 9px;
    background: rgba(0, 0, 0, 0.56);
    text-transform: uppercase;
    font-size: 11px;

}
.choose_option{
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 8px;
}
.choose_option h2{
    font-family: 'Dosis', sans-serif;
    background: #36a4e4;
    color: #fff;
    display: inline;
    padding: 6px 40px;
    border-radius: 16px 16px 0px 0px;
}
.contact_row{

}
.choose_details_bg{
    background: url(img/shadow1.png);
    background-size: 100% 100%;
    padding-bottom: 22px;
    margin-top: 30px;
}
.contact_row{
    text-align: center;
    margin-bottom: 100px;
    background: rgb(51, 51, 51);
    padding-bottom: 26px;


}
.contact_row h2{
    font-family: 'Poppins', sans-serif;
    margin-top: 77px;
    margin-bottom: 22px;
    color: #fff;

}
.contact_row button{
    background: #36a4e4;
    border: none;
    border-radius: 4px;
}
.contact_row button a{
    background: #36a4e4;
    padding: 11px 21px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
}
.contact_row button a:hover{


}
.contact_row_area{


}
.should_we_area{
    padding-top: 90px;
    padding-bottom: 100px;
}

.copyright{}
.copyright p{
    padding-top: 6px;
    font-size: 13px;
}
.footer_logo{
    text-align:center;
}
.footer_logo img{
    width: 49px;
    margin-top: -1px;
}
.designed{}
.designed p{}
.designed p{
    padding-top: 6px;
    font-size: 13px;
    font-family: 'Dosis', sans-serif;
}
.designed p a{}
.scroll_to_up{
    text-align: center;
    margin-top: 50px;
}
.scroll_to_up a i{
    background: #36a4e4;
    display: inline-block;
    padding: 12px 18px;
    font-size: 21px;
    color: #fff;
    border-radius: 36px 36px 0px 0px;
    margin-bottom: 0px;
    transition:3s;
}
.scroll_to_up a i:hover{

}
.scroll_up_area{
    border-bottom: 4px solid #38a4dd;
}
.footer_section{
    background:#ddd;
}

.{}
.{}
